@font-face {
    font-family: Berkshire;
    src: url("/font/Berkshire_Swash");
}
/*style header*/
#headerimg{
    display: flex;
    width: 100%;
}
.menu{
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}
.menu li{
    list-style-type: none;

}
.menu a{
    font-family: Berkshire;
    color: #654B3A;
    text-decoration: none;
    display: block;
    margin: 1rem;
}
/*style index*/
h1
{
    display: flex;
    justify-content: left;
    font-size: 35px;
    font-family: Berkshire;
    color: #654B3A;
}
.img{
    width: 50%;
}
.corps{
    display:flex;
}
.corps p{
    margin-inside: 50%;
}
.footer{
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
}
#bio{
    display: flex;
    width: 10%;
}
.slogan{
    width: 27em;
    display: flex;
    flex-direction: column;
    white-space: normal;
    margin-right: 5em;
}
.menufooter{
    width: 27em;
    display: flex;
    flex-direction: column;
}
.infolettre{
    width: 27em;
    display: flex;
    flex-direction: column;
}
h3{
    font-size: 20px;
    color: #654B3A;
    border-bottom: 1px solid;
    padding-bottom: 15px;
    border-bottom-width: thin;
}
#btnInfolettre{
    width: auto;
}
#imgInfolettre{
    width: 60%;
}
.CGU{
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#CG{
    border-bottom: 1px solid;
    padding-bottom: 15px;
}
.texteCorps{
    display: flex;
    flex-direction: column;
    column-width: auto;
    margin-right: 2em;
}